@import '../../mixin.scss';

.container-main-grid {
  padding-top: 60px;
  padding-bottom: 60px;
  @include grid-12;
}

.active-tab {
  display: grid;
}

.table-container {
  grid-column-start: 1;
  grid-column-end: 7;
}


.card-container {
  grid-column-start: 7;
  grid-column-end: 13;
}

.add-card-container {
  padding-top: 30px;
}