@import '../../mixin.scss';

.container-main-grid {
  padding-top: 60px;
  padding-bottom: 60px;
  @include grid-12;
}

.active-tab {
  display: grid;
}

.table-container {
  grid-column-start: 1;
  grid-column-end: 7;
}

.table-list {
  @include flex-between;
  box-sizing: border-box;
  width: 100%;


  ul {
    flex-grow: 1;
    border: 1px solid $background-active;
    border-right: none;

    li:nth-child(2n+1):not(li:first-child) {
      background-color: $background-nth2;
    }
  }

  ul:last-child {
    border-right: 1px solid $background-active;
  }

  .table-item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
  }

  .table-item:first-child {
    background-color: $background-active;
    @include font-table-card-bold (14px);
  }
}

.pagination {
  padding-top: 30px;
}

.pagination-numbers-list {
  @include flex-between;
  align-items: center;
  justify-content: space-between;
}

.arrow-container-next {
  padding-left: 20px;
}

.arrow-container-prev {
  padding-right: 22px;
}

.arrow-prev,
.arrow-next {
  width: 30px;
  height: 30px;
  background-color: $background-active;
  border-radius: 50%;
  @include flex-between;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0px 0px 8px $background-active;
  }
}

.pagination-numbers-link {
  width: 31px;
  height: 30px;
  @include flex-between;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid $background-active;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0px 0px 8px $background-active;
  }
}

.pagination-numbers-link-active {
  background-color: $background-active;
}

.pagination-select {
  padding-top: 30px;

  select {
    width: 64px;
    height: 30px;
    @include font-table-card (14px);
    color: $background-active;
    border-color: $background-active;
  }
}